In [1]:
import numpy as np
import pandas as pd
import scipy.stats as sc

import sklearn
from sklearn import datasets, linear_model, preprocessing
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, KFold 

import statsmodels.api as sm
import matplotlib.pyplot as plt

C:\Users\soura\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\compat\pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

In [2]:
df = pd.read_csv('MART_data.csv')
df.shape

(4816, 12)

In [3]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
4811,FDZ39,19.700,Regular,0.018061,Meat,102.5990,OUT045,2002,NaN,Tier 2,Supermarket Type1,2063.9800
4812,FDY35,NaN,Regular,0.028062,Breads,44.0402,OUT019,1985,Small,Tier 1,Grocery Store,91.8804
4813,NCE06,5.825,Low Fat,0.091858,Household,160.7894,OUT018,2009,Medium,Tier 3,Supermarket Type2,1617.8940
4814,FDE57,NaN,Low Fat,0.036109,Fruits and Vegetables,140.6154,OUT027,1985,Medium,Tier 3,Supermarket Type3,4538.0930
4815,FDD33,12.850,Low Fat,0.108633,Fruits and Vegetables,233.8642,OUT018,2009,Medium,Tier 3,Supermarket Type2,2323.6420

In [4]:
df.dropna().shape # we cannot drop NA values as its looses 50% of its data 
#df.shape

(2632, 12)

In [5]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4816 entries, 0 to 4815
Data columns (total 12 columns):
Item_Identifier              4816 non-null object
Item_Weight                  4022 non-null float64
Item_Fat_Content             4816 non-null object
Item_Visibility              4816 non-null float64
Item_Type                    4816 non-null object
Item_MRP                     4816 non-null float64
Outlet_Identifier            4816 non-null object
Outlet_Establishment_Year    4816 non-null int64
Outlet_Size                  3426 non-null object
Outlet_Location_Type         4816 non-null object
Outlet_Type                  4816 non-null object
Item_Outlet_Sales            4816 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 451.6+ KB

In [7]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                   794
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1390
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [8]:
'''#calculating mean value for replacing null values in null value
avg_mean=df.pivot_table(values = 'Item_Weight',index ='Item_Identifier')
print("Average_Mean :",avg_mean)
def replace_null(cols):
    weight = cols[0]
    identifier =cols[1]
    if pd.isnull(weight):
        return  avg_mean['Item_Weight'][avg_mean.index==identifier]
    else:
        return weight
print("original number of null values",sum(df['Item_Weight'].isnull()))

df['Item_Weight'] = df[['Item_Weight','Item_Identifier']].apply(replace_null,axis=1)
print('final number of null values',df['Item_Identifier'].isnull().sum())'''
df['Item_Weight'] = df['Item_Weight'].fillna(method='ffill')
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
4811,FDZ39,19.700,Regular,0.018061,Meat,102.5990,OUT045,2002,NaN,Tier 2,Supermarket Type1,2063.9800
4812,FDY35,19.700,Regular,0.028062,Breads,44.0402,OUT019,1985,Small,Tier 1,Grocery Store,91.8804
4813,NCE06,5.825,Low Fat,0.091858,Household,160.7894,OUT018,2009,Medium,Tier 3,Supermarket Type2,1617.8940
4814,FDE57,5.825,Low Fat,0.036109,Fruits and Vegetables,140.6154,OUT027,1985,Medium,Tier 3,Supermarket Type3,4538.0930
4815,FDD33,12.850,Low Fat,0.108633,Fruits and Vegetables,233.8642,OUT018,2009,Medium,Tier 3,Supermarket Type2,2323.6420

In [9]:
#df['Item_Weight'] = df.Item_Weight.astype(float)
df.Item_Weight

0        9.300
1        5.920
2       17.500
3       19.200
4        8.930
         ...
4811    19.700
4812    19.700
4813     5.825
4814     5.825
4815    12.850
Name: Item_Weight, Length: 4816, dtype: float64

### replacing null values of Outlet_size with mode because mode used when there is more frequent values

In [10]:
from scipy.stats import mode    # scipy = more mathematical functions than numpy
outlet_size_mode  = df.pivot_table(values='Outlet_Size',columns='Outlet_Type',aggfunc =lambda x:x.mode())
print(outlet_size_mode)
#replacing null values in outlet_size
def replace_outlet(cols):
    size=cols[0]
    Type = cols[1]
    if pd.isnull(size):
        return outlet_size_mode.loc['Outlet_Size'][outlet_size_mode.columns==Type][0]
    else:
        return size
print("original number of null values",sum(df['Outlet_Size'].isnull()))
df['Outlet_Size']=df[['Outlet_Size','Outlet_Type']].apply(replace_outlet,axis =1)
print('final data with null vakues',sum(df['Outlet_Size'].isnull()))

Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2  \
Outlet_Size         Small             Small            Medium

Outlet_Type Supermarket Type3
Outlet_Size            Medium
original number of null values 1390
final data with null vakues 0

In [11]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [12]:
print(df.Item_Type.describe())
print()
#df.head()
df['ItemType_Combined']= df['Item_Identifier'].apply(lambda x:x[0:2])
df['ItemType_Combined']= df['ItemType_Combined'].map({'FD':'Food','NC':'Non-Consumable','DR':'Drinks'})
print(df['ItemType_Combined'].value_counts())

count                      4816
unique                       16
top       Fruits and Vegetables
freq                        708
Name: Item_Type, dtype: object

Food              3484
Non-Consumable     866
Drinks             466
Name: ItemType_Combined, dtype: int64

In [13]:
#there was some typos in item_fat_content fixing it
df['Item_Fat_Content']=df['Item_Fat_Content'].replace({'LF':'Low fat','reg':'Regular','low fat':'Low fat'})
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,ItemType_Combined
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,Food
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,Drinks
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,Food
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800,Food
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,Non-Consumable
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4811,FDZ39,19.700,Regular,0.018061,Meat,102.5990,OUT045,2002,Small,Tier 2,Supermarket Type1,2063.9800,Food
4812,FDY35,19.700,Regular,0.028062,Breads,44.0402,OUT019,1985,Small,Tier 1,Grocery Store,91.8804,Food
4813,NCE06,5.825,Low Fat,0.091858,Household,160.7894,OUT018,2009,Medium,Tier 3,Supermarket Type2,1617.8940,Non-Consumable
4814,FDE57,5.825,Low Fat,0.036109,Fruits and Vegetables,140.6154,OUT027,1985,Medium,Tier 3,Supermarket Type3,4538.0930,Food
4815,FDD33,12.850,Low Fat,0.108633,Fruits and Vegetables,233.8642,OUT018,2009,Medium,Tier 3,Supermarket Type2,2323.6420,Food

### but again there are some non consumable product also so creating a new column for those

In [14]:
df.loc[df['ItemType_Combined']=="Non-Consumable",'Item_Fat_Content']='Non-Edible'
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,ItemType_Combined
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,Food
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,Drinks
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,Food
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800,Food
4,NCD19,8.93,Non-Edible,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,Non-Consumable

In [15]:
df.Item_Visibility

0       0.016047
1       0.019278
2       0.016760
3       0.000000
4       0.000000
          ...
4811    0.018061
4812    0.028062
4813    0.091858
4814    0.036109
4815    0.108633
Name: Item_Visibility, Length: 4816, dtype: float64

In [16]:
df[df['Item_Visibility']==0].head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,ItemType_Combined
3,FDX07,19.200,Regular,0.0,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800,Food
4,NCD19,8.930,Non-Edible,0.0,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,Non-Consumable
5,FDP36,10.395,Regular,0.0,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088,Food
10,FDY07,11.800,Low Fat,0.0,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0270,Food
32,FDP33,18.700,Low Fat,0.0,Snack Foods,256.6672,OUT018,2009,Medium,Tier 3,Supermarket Type2,3068.0060,Food

In [17]:
#This field mentions the percentage of total display area of all products in a store allocated to the particular product

Zero_Item_Visibility =(df['Item_Visibility']==0)
print ("All Zero items:",Zero_Item_Visibility.sum())

df.loc[Zero_Item_Visibility,'Item_Visibility']=df["Item_Visibility"].mean() 

Zero_Item_Visibility =(df['Item_Visibility']==0)
print ("Current Zero items :",Zero_Item_Visibility.sum())
print(df.Item_Visibility)

All Zero items: 294
Current Zero items : 0
0       0.016047
1       0.019278
2       0.016760
3       0.065810
4       0.065810
          ...
4811    0.018061
4812    0.028062
4813    0.091858
4814    0.036109
4815    0.108633
Name: Item_Visibility, Length: 4816, dtype: float64

In [18]:
from sklearn.preprocessing  import LabelEncoder
Le = LabelEncoder()
#for outlet
df['outlet'] =Le.fit_transform(df['Outlet_Identifier'])
var_mod = ['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','ItemType_Combined','Outlet_Type','outlet']
for i in var_mod:
    df[i]=Le.fit_transform(df[i])

### we have done something called as One-Hot-Coding -> creating a dummy variables one for each type of type variable

In [19]:
df.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,ItemType_Combined,outlet
0,FDA15,9.30,0,0.016047,Dairy,249.8092,OUT049,1999,1,0,1,3735.1380,1,9
1,DRC01,5.92,3,0.019278,Soft Drinks,48.2692,OUT018,2009,1,2,2,443.4228,0,3
2,FDN15,17.50,0,0.016760,Meat,141.6180,OUT049,1999,1,0,1,2097.2700,1,9

In [20]:
df = pd.get_dummies(df,columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','ItemType_Combined','Outlet_Type','outlet'])
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Item_Outlet_Sales            float64
Item_Fat_Content_0             uint8
Item_Fat_Content_1             uint8
Item_Fat_Content_2             uint8
Item_Fat_Content_3             uint8
Outlet_Location_Type_0         uint8
Outlet_Location_Type_1         uint8
Outlet_Location_Type_2         uint8
Outlet_Size_0                  uint8
Outlet_Size_1                  uint8
Outlet_Size_2                  uint8
ItemType_Combined_0            uint8
ItemType_Combined_1            uint8
ItemType_Combined_2            uint8
Outlet_Type_0                  uint8
Outlet_Type_1                  uint8
Outlet_Type_2                  uint8
Outlet_Type_3                  uint8
outlet_0                       uint8
outlet_1                       uint8
outlet_2                       uint8
outlet_3                       uint8
outlet_4                       uint8
outlet_5                       uint8
outlet_6                       uint8
outlet_7                       uint8
outlet_8                       uint8
outlet_9                       uint8
dtype: object

In [21]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Item_Outlet_Sales            float64
Item_Fat_Content_0             uint8
Item_Fat_Content_1             uint8
Item_Fat_Content_2             uint8
Item_Fat_Content_3             uint8
Outlet_Location_Type_0         uint8
Outlet_Location_Type_1         uint8
Outlet_Location_Type_2         uint8
Outlet_Size_0                  uint8
Outlet_Size_1                  uint8
Outlet_Size_2                  uint8
ItemType_Combined_0            uint8
ItemType_Combined_1            uint8
ItemType_Combined_2            uint8
Outlet_Type_0                  uint8
Outlet_Type_1                  uint8
Outlet_Type_2                  uint8
Outlet_Type_3                  uint8
outlet_0                       uint8
outlet_1                       uint8
outlet_2                       uint8
outlet_3                       uint8
outlet_4                       uint8
outlet_5                       uint8
outlet_6                       uint8
outlet_7                       uint8
outlet_8                       uint8
outlet_9                       uint8
dtype: object

In [22]:
df.drop(['Item_Identifier','Outlet_Establishment_Year','Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)  #since it plays not much rol
df

,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Item_Outlet_Sales,Item_Fat_Content_0,Item_Fat_Content_1,Item_Fat_Content_2,Item_Fat_Content_3,Outlet_Location_Type_0,...,outlet_0,outlet_1,outlet_2,outlet_3,outlet_4,outlet_5,outlet_6,outlet_7,outlet_8,outlet_9
0,9.300,0.016047,Dairy,249.8092,3735.1380,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,5.920,0.019278,Soft Drinks,48.2692,443.4228,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,17.500,0.016760,Meat,141.6180,2097.2700,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,19.200,0.065810,Fruits and Vegetables,182.0950,732.3800,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
4,8.930,0.065810,Household,53.8614,994.7052,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4811,19.700,0.018061,Meat,102.5990,2063.9800,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4812,19.700,0.028062,Breads,44.0402,91.8804,0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,0
4813,5.825,0.091858,Household,160.7894,1617.8940,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4814,5.825,0.036109,Fruits and Vegetables,140.6154,4538.0930,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4815,12.850,0.108633,Fruits and Vegetables,233.8642,2323.6420,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [23]:
df.drop(['Item_Type'],axis=1,inplace=True)  #since it plays not much rol
df

,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,Item_Fat_Content_0,Item_Fat_Content_1,Item_Fat_Content_2,Item_Fat_Content_3,Outlet_Location_Type_0,Outlet_Location_Type_1,...,outlet_0,outlet_1,outlet_2,outlet_3,outlet_4,outlet_5,outlet_6,outlet_7,outlet_8,outlet_9
0,9.300,0.016047,249.8092,3735.1380,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,5.920,0.019278,48.2692,443.4228,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,17.500,0.016760,141.6180,2097.2700,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,19.200,0.065810,182.0950,732.3800,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,8.930,0.065810,53.8614,994.7052,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4811,19.700,0.018061,102.5990,2063.9800,0,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
4812,19.700,0.028062,44.0402,91.8804,0,0,0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
4813,5.825,0.091858,160.7894,1617.8940,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4814,5.825,0.036109,140.6154,4538.0930,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4815,12.850,0.108633,233.8642,2323.6420,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [24]:
df.to_csv('clean_MART.csv')

In [25]:
Y=df['Item_Outlet_Sales']
df.drop(['Item_Outlet_Sales'],axis=1,inplace=True)
X=df

In [26]:
# Create train and test data
kf=sklearn.model_selection.KFold(n_splits=5,shuffle=True)
kf.get_n_splits(df)
df_train=[]
df_test=[]
for train_index, test_index in kf.split(df):
    df_train.append(train_index)
    df_test.append(test_index)

In [79]:
df

,Item_Weight,Item_Visibility,Item_MRP,Item_Fat_Content_0,Item_Fat_Content_1,Item_Fat_Content_2,Item_Fat_Content_3,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,...,outlet_0,outlet_1,outlet_2,outlet_3,outlet_4,outlet_5,outlet_6,outlet_7,outlet_8,outlet_9
0,9.300,0.016047,249.8092,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,5.920,0.019278,48.2692,0,0,0,1,0,0,1,...,0,0,0,1,0,0,0,0,0,0
2,17.500,0.016760,141.6180,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,19.200,0.065810,182.0950,0,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,8.930,0.065810,53.8614,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4811,19.700,0.018061,102.5990,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4812,19.700,0.028062,44.0402,0,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4813,5.825,0.091858,160.7894,0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4814,5.825,0.036109,140.6154,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4815,12.850,0.108633,233.8642,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [80]:
#print(df_test)
#print(train_index)
#print(test_index)

#df['Item_Weight'] = df['Item_Weight'].apply(pd.to_numeric)
#print(df.Item_Weight.isna().sum())
#print(df.dtypes)
#df

In [81]:
#df.to_csv('for_model_MART.csv')
df.dtypes

Item_Weight               float64
Item_Visibility           float64
Item_MRP                  float64
Item_Fat_Content_0          uint8
Item_Fat_Content_1          uint8
Item_Fat_Content_2          uint8
Item_Fat_Content_3          uint8
Outlet_Location_Type_0      uint8
Outlet_Location_Type_1      uint8
Outlet_Location_Type_2      uint8
Outlet_Size_0               uint8
Outlet_Size_1               uint8
Outlet_Size_2               uint8
ItemType_Combined_0         uint8
ItemType_Combined_1         uint8
ItemType_Combined_2         uint8
Outlet_Type_0               uint8
Outlet_Type_1               uint8
Outlet_Type_2               uint8
Outlet_Type_3               uint8
outlet_0                    uint8
outlet_1                    uint8
outlet_2                    uint8
outlet_3                    uint8
outlet_4                    uint8
outlet_5                    uint8
outlet_6                    uint8
outlet_7                    uint8
outlet_8                    uint8
outlet_9                    uint8
dtype: object

In [82]:
for i in range(5):
    x=[]
    y=[]
    x1=[]
    y1=[]
    for j in range(24):
        #print(j,df_train[i][j])
        x.append(X.iloc[df_train[i][j]])
        y.append(Y.iloc[df_train[i][j]])
    for k in range(6):
        x1.append(X.iloc[df_test[i][k]])
        y1.append(Y.iloc[df_test[i][k]])
    regr = linear_model.LinearRegression()
    regr.fit(x, y)
    result_train = regr.predict(x)
    result_test = regr.predict(x1)
#     plt.plot(y,result_train,'r+')
#     plt.show()
#     plt.plot(y1,result_test,'b+')
#     plt.show()
    MSE_train=mean_squared_error(y,result_train)
    MSE_test=mean_squared_error(y1, result_test)
    print("MSE of training set is ", MSE_train) 
    print("MSE of testing set is ", MSE_test) 
    print("")
    avg_train = []
    avg_test = []
    avg_train.append(MSE_train)
    avg_test.append(MSE_test)
print("AVERGAE TRAIN MSE :",np.average(avg_train))
print("AVERGAE TEST MSE :",np.average(avg_test))
print()
print("AVERGAE TRAIN RMSE :",np.sqrt(np.average(avg_train)))
print("AVERGAE TEST RMSE :",np.sqrt(np.average(avg_test)))
#print(x,y,x1,y1)

MSE of training set is  1743105.0261878
MSE of testing set is  3654612.572253758

MSE of training set is  1575273.494618622
MSE of testing set is  4519049.385434971

MSE of training set is  2117274.2612433606
MSE of testing set is  2254367.561746297

MSE of training set is  2278558.6031480916
MSE of testing set is  3092121.853238364

MSE of training set is  1339237.9051266278
MSE of testing set is  6089877.591725866

AVERGAE TRAIN MSE : 1339237.9051266278
AVERGAE TEST MSE : 6089877.591725866

AVERGAE TRAIN RMSE : 1157.2544686138083
AVERGAE TEST RMSE : 2467.7677345580696

In [36]:
dfx = pd.read_csv('clean_MART.csv')
dfx

,Unnamed: 0,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,Item_Fat_Content_0,Item_Fat_Content_1,Item_Fat_Content_2,Item_Fat_Content_3,Outlet_Location_Type_0,...,outlet_0,outlet_1,outlet_2,outlet_3,outlet_4,outlet_5,outlet_6,outlet_7,outlet_8,outlet_9
0,0,9.300,0.016047,249.8092,3735.1380,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,1,5.920,0.019278,48.2692,443.4228,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,2,17.500,0.016760,141.6180,2097.2700,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,3,19.200,0.065810,182.0950,732.3800,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
4,4,8.930,0.065810,53.8614,994.7052,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4811,4811,19.700,0.018061,102.5990,2063.9800,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4812,4812,19.700,0.028062,44.0402,91.8804,0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,0
4813,4813,5.825,0.091858,160.7894,1617.8940,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4814,4814,5.825,0.036109,140.6154,4538.0930,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4815,4815,12.850,0.108633,233.8642,2323.6420,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [50]:
seed = 10
test_size = 0.3
trainingSet, testingSet = train_test_split(dfx, test_size = test_size, random_state = seed)

In [51]:
trainingSet.shape , testingSet.shape

((3371, 32), (1445, 32))

In [52]:
Y =trainingSet['Item_Outlet_Sales']
trainingSet = trainingSet.drop(['Item_Outlet_Sales'],axis=1)
X = trainingSet
X.shape,Y.shape

((3371, 31), (3371,))

In [56]:
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
X = sm.add_constant(X)
lm = smf.OLS(Y,X)
lm_result = lm.fit()
print(lm_result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.568
Model:                            OLS   Adj. R-squared:                  0.566
Method:                 Least Squares   F-statistic:                     259.4
Date:                Sun, 09 Feb 2020   Prob (F-statistic):               0.00
Time:                        16:44:39   Log-Likelihood:                -28441.
No. Observations:                3371   AIC:                         5.692e+04
Df Residuals:                    3353   BIC:                         5.703e+04
Df Model:                          17
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -44.4124     32.244     -1.377      0.168    -107.632      18.807
Unnamed: 0                -0.0193      0.014     -1.384      0.166      -0.047       0.008
Item_Weight                1.4529      4.178      0.348      0.728      -6.738       9.644
Item_Visibility         -473.4839    419.158     -1.130      0.259   -1295.314     348.347
Item_MRP                  15.4820      0.311     49.812      0.000      14.873      16.091
Item_Fat_Content_0        -9.9488     36.573     -0.272      0.786     -81.656      61.759
Item_Fat_Content_1       -45.7969     73.342     -0.624      0.532    -189.596      98.002
Item_Fat_Content_2       -20.4072     23.235     -0.878      0.380     -65.963      25.149
Item_Fat_Content_3        31.7405     39.187      0.810      0.418     -45.092     108.573
Outlet_Location_Type_0  -169.7565     25.041     -6.779      0.000    -218.853    -120.660
Outlet_Location_Type_1   176.3905     21.371      8.254      0.000     134.489     218.292
Outlet_Location_Type_2   -51.0465     26.193     -1.949      0.051    -102.402       0.309
Outlet_Size_0            -70.4870     21.819     -3.230      0.001    -113.268     -27.706
Outlet_Size_1            322.3472     23.356     13.801      0.000     276.554     368.141
Outlet_Size_2           -296.2726     24.543    -12.072      0.000    -344.393    -248.152
ItemType_Combined_0      -57.0820     43.067     -1.325      0.185    -141.523      27.359
ItemType_Combined_1       33.0768     31.924      1.036      0.300     -29.515      95.669
ItemType_Combined_2      -20.4072     23.235     -0.878      0.380     -65.963      25.149
Outlet_Type_0           -838.1889     28.544    -29.365      0.000    -894.154    -782.224
Outlet_Type_1            299.9669     24.602     12.193      0.000     251.730     348.204
Outlet_Type_2           -196.1011     24.804     -7.906      0.000    -244.734    -147.469
Outlet_Type_3            689.9107     24.776     27.846      0.000     641.333     738.489
outlet_0                -474.3690     41.747    -11.363      0.000    -556.221    -392.517
outlet_1                 -70.4870     21.819     -3.230      0.001    -113.268     -27.706
outlet_2                 178.8420     47.717      3.748      0.000      85.285     272.399
outlet_3                -196.1011     24.804     -7.906      0.000    -244.734    -147.469
outlet_4                -363.8199     42.863     -8.488      0.000    -447.860    -279.780
outlet_5                 689.9107     24.776     27.846      0.000     641.333     738.489
outlet_6                  83.5865     48.637      1.719      0.086     -11.776     178.949
outlet_7                 -86.0380     47.642     -1.806      0.071    -179.448       7.372
outlet_8                 365.5258     38.084      9.598      0.000     290.855     440.196
outlet_9                -171.4624     31.490     -5.445      0.000    -233.204    -109.721
==============================================================================
Omnibus:                      282.286   Durbin-Watson:                   1.965
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              484.147
Skew:                           0.605   Prob(JB):                    7.39e-106
Kurtosis:                       4.407   Cond. No.                     7.09e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.15e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [57]:
lm_result.mse_model

325024684.11367077

In [58]:
dfx.columns

Index(['Unnamed: 0', 'Item_Weight', 'Item_Visibility', 'Item_MRP',
       'Item_Outlet_Sales', 'Item_Fat_Content_0', 'Item_Fat_Content_1',
       'Item_Fat_Content_2', 'Item_Fat_Content_3', 'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2', 'ItemType_Combined_0',
       'ItemType_Combined_1', 'ItemType_Combined_2', 'Outlet_Type_0',
       'Outlet_Type_1', 'Outlet_Type_2', 'Outlet_Type_3', 'outlet_0',
       'outlet_1', 'outlet_2', 'outlet_3', 'outlet_4', 'outlet_5', 'outlet_6',
       'outlet_7', 'outlet_8', 'outlet_9'],
      dtype='object')

In [65]:
X

,const,Item_Weight,Item_Visibility,Item_MRP,Item_Fat_Content_1,Item_Fat_Content_2,Item_Fat_Content_3,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,...,outlet_0,outlet_1,outlet_2,outlet_3,outlet_4,outlet_5,outlet_6,outlet_7,outlet_8,outlet_9
0,1.0,9.300,0.016047,249.8092,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1.0,5.920,0.019278,48.2692,0,0,1,0,0,1,...,0,0,0,1,0,0,0,0,0,0
2,1.0,17.500,0.016760,141.6180,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1.0,19.200,0.065810,182.0950,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,1.0,8.930,0.065810,53.8614,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4811,1.0,19.700,0.018061,102.5990,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4812,1.0,19.700,0.028062,44.0402,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4813,1.0,5.825,0.091858,160.7894,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4814,1.0,5.825,0.036109,140.6154,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4815,1.0,12.850,0.108633,233.8642,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [66]:
X = trainingSet[['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Item_Fat_Content_1',
       'Item_Fat_Content_2', 'Item_Fat_Content_3', 'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2', 'ItemType_Combined_0',
       'ItemType_Combined_1', 'ItemType_Combined_2', 'Outlet_Type_0',
       'Outlet_Type_1', 'Outlet_Type_2', 'Outlet_Type_3', 'outlet_0',
       'outlet_1', 'outlet_2', 'outlet_3', 'outlet_4', 'outlet_5', 'outlet_6',
       'outlet_7', 'outlet_8', 'outlet_9']]
X = sm.add_constant(X)
lm = smf.OLS(Y,X)
lm_result = lm.fit()
print(lm_result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.568
Model:                            OLS   Adj. R-squared:                  0.566
Method:                 Least Squares   F-statistic:                     275.4
Date:                Sun, 09 Feb 2020   Prob (F-statistic):               0.00
Time:                        16:57:37   Log-Likelihood:                -28442.
No. Observations:                3371   AIC:                         5.692e+04
Df Residuals:                    3354   BIC:                         5.702e+04
Df Model:                          16
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -64.1768     31.712     -2.024      0.043    -126.354      -2.000
Item_Weight                1.3070      4.177      0.313      0.754      -6.883       9.497
Item_Visibility         -461.3991    419.124     -1.101      0.271   -1283.163     360.365
Item_MRP                  15.4732      0.311     49.787      0.000      14.864      16.083
Item_Fat_Content_1       -41.0211    103.237     -0.397      0.691    -243.434     161.392
Item_Fat_Content_2       -20.1080     23.481     -0.856      0.392     -66.147      25.930
Item_Fat_Content_3        40.5308     45.263      0.895      0.371     -48.216     129.277
Outlet_Location_Type_0  -175.4555     25.003     -7.017      0.000    -224.478    -126.433
Outlet_Location_Type_1   172.0265     21.299      8.077      0.000     130.265     213.788
Outlet_Location_Type_2   -60.7478     26.075     -2.330      0.020    -111.873      -9.623
Outlet_Size_0            -73.3076     21.862     -3.353      0.001    -116.172     -30.443
Outlet_Size_1            314.2132     23.044     13.635      0.000     269.032     359.395
Outlet_Size_2           -305.0824     24.450    -12.478      0.000    -353.020    -257.145
ItemType_Combined_0      -67.6481     43.396     -1.559      0.119    -152.734      17.438
ItemType_Combined_1       23.5793     32.792      0.719      0.472     -40.715      87.873
ItemType_Combined_2      -20.1080     23.481     -0.856      0.392     -66.147      25.930
Outlet_Type_0           -843.0399     28.543    -29.536      0.000    -899.004    -787.076
Outlet_Type_1            291.0221     24.225     12.013      0.000     243.525     338.519
Outlet_Type_2           -199.5672     24.812     -8.043      0.000    -248.216    -150.919
Outlet_Type_3            687.4082     24.797     27.721      0.000     638.789     736.028
outlet_0                -475.2813     41.742    -11.386      0.000    -557.124    -393.439
outlet_1                 -73.3076     21.862     -3.353      0.001    -116.172     -30.443
outlet_2                 177.6379     47.727      3.722      0.000      84.061     271.214
outlet_3                -199.5672     24.812     -8.043      0.000    -248.216    -150.919
outlet_4                -367.7586     42.951     -8.562      0.000    -451.971    -283.546
outlet_5                 687.4082     24.797     27.721      0.000     638.789     736.028
outlet_6                  82.1705     48.652      1.689      0.091     -13.220     177.561
outlet_7                 -87.7819     47.625     -1.843      0.065    -181.159       5.595
outlet_8                 365.9310     38.088      9.608      0.000     291.253     440.609
outlet_9                -173.6278     31.437     -5.523      0.000    -235.266    -111.990
==============================================================================
Omnibus:                      283.323   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              486.073
Skew:                           0.607   Prob(JB):                    2.82e-106
Kurtosis:                       4.409   Cond. No.                     3.25e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.58e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [67]:
X = trainingSet[[ 'Item_Visibility', 'Item_MRP', 'Item_Fat_Content_1',
       'Item_Fat_Content_2', 'Item_Fat_Content_3', 'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2', 'ItemType_Combined_0',
       'ItemType_Combined_1', 'ItemType_Combined_2', 'Outlet_Type_0',
       'Outlet_Type_1', 'Outlet_Type_2', 'Outlet_Type_3', 'outlet_0',
       'outlet_1', 'outlet_2', 'outlet_3', 'outlet_4', 'outlet_5', 'outlet_6',
       'outlet_7', 'outlet_8', 'outlet_9']]
X = sm.add_constant(X)
lm = smf.OLS(Y,X)
lm_result = lm.fit()
print(lm_result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.568
Model:                            OLS   Adj. R-squared:                  0.566
Method:                 Least Squares   F-statistic:                     293.8
Date:                Sun, 09 Feb 2020   Prob (F-statistic):               0.00
Time:                        16:58:15   Log-Likelihood:                -28442.
No. Observations:                3371   AIC:                         5.692e+04
Df Residuals:                    3355   BIC:                         5.701e+04
Df Model:                          15
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -57.6487     23.879     -2.414      0.016    -104.467     -10.830
Item_Visibility         -466.3042    418.774     -1.113      0.266   -1287.383     354.774
Item_MRP                  15.4739      0.311     49.797      0.000      14.865      16.083
Item_Fat_Content_1       -41.3050    103.219     -0.400      0.689    -243.683     161.073
Item_Fat_Content_2       -18.5013     22.909     -0.808      0.419     -63.419      26.417
Item_Fat_Content_3        40.0841     45.235      0.886      0.376     -48.606     128.775
Outlet_Location_Type_0  -173.5525     24.249     -7.157      0.000    -221.096    -126.009
Outlet_Location_Type_1   173.3374     20.881      8.301      0.000     132.397     214.277
Outlet_Location_Type_2   -57.4335     23.824     -2.411      0.016    -104.144     -10.723
Outlet_Size_0            -72.3348     21.637     -3.343      0.001    -114.758     -29.912
Outlet_Size_1            316.7233     21.599     14.663      0.000     274.374     359.073
Outlet_Size_2           -302.0372     22.426    -13.468      0.000    -346.007    -258.067
ItemType_Combined_0      -65.8004     42.987     -1.531      0.126    -150.083      18.482
ItemType_Combined_1       26.6530     31.282      0.852      0.394     -34.680      87.986
ItemType_Combined_2      -18.5013     22.909     -0.808      0.419     -63.419      26.417
Outlet_Type_0           -841.4230     28.068    -29.978      0.000    -896.454    -786.391
Outlet_Type_1            293.7918     22.546     13.031      0.000     249.586     337.998
Outlet_Type_2           -198.4354     24.544     -8.085      0.000    -246.558    -150.313
Outlet_Type_3            688.4179     24.583     28.004      0.000     640.218     736.617
outlet_0                -475.0813     41.732    -11.384      0.000    -556.903    -393.259
outlet_1                 -72.3348     21.637     -3.343      0.001    -114.758     -29.912
outlet_2                 177.7985     47.718      3.726      0.000      84.240     271.357
outlet_3                -198.4354     24.544     -8.085      0.000    -246.558    -150.313
outlet_4                -366.3417     42.706     -8.578      0.000    -450.074    -282.610
outlet_5                 688.4179     24.583     28.004      0.000     640.218     736.617
outlet_6                  82.7386     48.611      1.702      0.089     -12.572     178.050
outlet_7                 -87.1998     47.582     -1.833      0.067    -180.493       6.094
outlet_8                 366.0484     38.081      9.612      0.000     291.384     440.713
outlet_9                -173.2592     31.411     -5.516      0.000    -234.845    -111.673
==============================================================================
Omnibus:                      283.027   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              485.272
Skew:                           0.607   Prob(JB):                    4.21e-106
Kurtosis:                       4.408   Cond. No.                     2.69e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.1e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [68]:
X = trainingSet[[ 'Item_Visibility', 'Item_MRP',
       'Item_Fat_Content_2', 'Item_Fat_Content_3', 'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2', 'ItemType_Combined_0',
       'ItemType_Combined_1', 'ItemType_Combined_2', 'Outlet_Type_0',
       'Outlet_Type_1', 'Outlet_Type_2', 'Outlet_Type_3', 'outlet_0',
       'outlet_1', 'outlet_2', 'outlet_3', 'outlet_4', 'outlet_5', 'outlet_6',
       'outlet_7', 'outlet_8', 'outlet_9']]
X = sm.add_constant(X)
lm = smf.OLS(Y,X)
lm_result = lm.fit()
print(lm_result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.568
Model:                            OLS   Adj. R-squared:                  0.566
Method:                 Least Squares   F-statistic:                     314.9
Date:                Sun, 09 Feb 2020   Prob (F-statistic):               0.00
Time:                        16:58:47   Log-Likelihood:                -28442.
No. Observations:                3371   AIC:                         5.691e+04
Df Residuals:                    3356   BIC:                         5.701e+04
Df Model:                          14
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -58.5728     23.764     -2.465      0.014    -105.166     -11.980
Item_Visibility         -472.0189    418.478     -1.128      0.259   -1292.517     348.479
Item_MRP                  15.4747      0.311     49.807      0.000      14.866      16.084
Item_Fat_Content_2       -17.3974     22.740     -0.765      0.444     -61.983      27.188
Item_Fat_Content_3        43.6010     44.367      0.983      0.326     -43.389     130.591
Outlet_Location_Type_0  -173.8115     24.237     -7.171      0.000    -221.332    -126.291
Outlet_Location_Type_1   173.3200     20.878      8.302      0.000     132.385     214.255
Outlet_Location_Type_2   -58.0813     23.766     -2.444      0.015    -104.678     -11.484
Outlet_Size_0            -72.7296     21.612     -3.365      0.001    -115.103     -30.356
Outlet_Size_1            316.6813     21.596     14.664      0.000     274.338     359.025
Outlet_Size_2           -302.5245     22.390    -13.512      0.000    -346.424    -258.625
ItemType_Combined_0      -66.5324     42.942     -1.549      0.121    -150.728      17.664
ItemType_Combined_1       25.3571     31.110      0.815      0.415     -35.639      86.353
ItemType_Combined_2      -17.3974     22.740     -0.765      0.444     -61.983      27.188
Outlet_Type_0           -841.5252     28.063    -29.987      0.000    -896.547    -786.503
Outlet_Type_1            293.4974     22.532     13.026      0.000     249.320     337.674
Outlet_Type_2           -198.7781     24.526     -8.105      0.000    -246.865    -150.691
Outlet_Type_3            688.2331     24.576     28.005      0.000     640.048     736.418
outlet_0                -474.8067     41.721    -11.381      0.000    -556.607    -393.006
outlet_1                 -72.7296     21.612     -3.365      0.001    -115.103     -30.356
outlet_2                 177.6616     47.710      3.724      0.000      84.117     271.206
outlet_3                -198.7781     24.526     -8.105      0.000    -246.865    -150.691
outlet_4                -366.7185     42.690     -8.590      0.000    -450.420    -283.017
outlet_5                 688.2331     24.576     28.005      0.000     640.048     736.418
outlet_6                  82.5020     48.602      1.698      0.090     -12.790     177.794
outlet_7                 -86.8436     47.568     -1.826      0.068    -180.109       6.422
outlet_8                 365.6806     38.065      9.607      0.000     291.047     440.314
outlet_9                -172.7737     31.383     -5.505      0.000    -234.306    -111.241
==============================================================================
Omnibus:                      283.295   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              485.959
Skew:                           0.607   Prob(JB):                    2.99e-106
Kurtosis:                       4.409   Cond. No.                     5.32e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.81e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [69]:
X = trainingSet[[ 'Item_Visibility', 'Item_MRP',
        'Item_Fat_Content_3', 'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2', 'ItemType_Combined_0',
       'ItemType_Combined_1', 'ItemType_Combined_2', 'Outlet_Type_0',
       'Outlet_Type_1', 'Outlet_Type_2', 'Outlet_Type_3', 'outlet_0',
       'outlet_1', 'outlet_2', 'outlet_3', 'outlet_4', 'outlet_5', 'outlet_6',
       'outlet_7', 'outlet_8', 'outlet_9']]
X = sm.add_constant(X)
lm = smf.OLS(Y,X)
lm_result = lm.fit()
print(lm_result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.568
Model:                            OLS   Adj. R-squared:                  0.566
Method:                 Least Squares   F-statistic:                     314.9
Date:                Sun, 09 Feb 2020   Prob (F-statistic):               0.00
Time:                        16:59:30   Log-Likelihood:                -28442.
No. Observations:                3371   AIC:                         5.691e+04
Df Residuals:                    3356   BIC:                         5.701e+04
Df Model:                          14
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -60.8581     24.067     -2.529      0.011    -108.046     -13.670
Item_Visibility         -472.0189    418.478     -1.128      0.259   -1292.517     348.479
Item_MRP                  15.4747      0.311     49.807      0.000      14.866      16.084
Item_Fat_Content_3        43.6010     44.367      0.983      0.326     -43.389     130.591
Outlet_Location_Type_0  -174.4796     24.297     -7.181      0.000    -222.118    -126.841
Outlet_Location_Type_1   172.8089     20.897      8.269      0.000     131.836     213.781
Outlet_Location_Type_2   -59.1875     23.775     -2.489      0.013    -105.803     -12.572
Outlet_Size_0            -73.0475     21.627     -3.378      0.001    -115.450     -30.645
Outlet_Size_1            315.7747     21.637     14.594      0.000     273.351     358.198
Outlet_Size_2           -303.5852     22.447    -13.525      0.000    -347.596    -259.574
ItemType_Combined_0      -61.4951     46.594     -1.320      0.187    -152.851      29.861
ItemType_Combined_1       30.3944     31.853      0.954      0.340     -32.059      92.848
ItemType_Combined_2      -29.7575     38.896     -0.765      0.444    -106.019      46.504
Outlet_Type_0           -842.0613     28.106    -29.960      0.000    -897.169    -786.954
Outlet_Type_1            292.4875     22.513     12.992      0.000     248.346     336.629
Outlet_Type_2           -199.1477     24.534     -8.117      0.000    -247.250    -151.045
Outlet_Type_3            687.8635     24.588     27.976      0.000     639.655     736.072
outlet_0                -474.8557     41.718    -11.382      0.000    -556.652    -393.060
outlet_1                 -73.0475     21.627     -3.378      0.001    -115.450     -30.645
outlet_2                 177.4912     47.711      3.720      0.000      83.945     271.037
outlet_3                -199.1477     24.534     -8.117      0.000    -247.250    -151.045
outlet_4                -367.2056     42.740     -8.592      0.000    -451.005    -283.406
outlet_5                 687.8635     24.588     27.976      0.000     639.655     736.072
outlet_6                  82.3316     48.603      1.694      0.090     -12.964     177.627
outlet_7                 -87.0139     47.568     -1.829      0.067    -180.280       6.252
outlet_8                 365.6672     38.064      9.607      0.000     291.035     440.299
outlet_9                -172.9411     31.382     -5.511      0.000    -234.470    -111.412
==============================================================================
Omnibus:                      283.295   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              485.959
Skew:                           0.607   Prob(JB):                    2.99e-106
Kurtosis:                       4.409   Cond. No.                     1.06e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.13e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [70]:
X = trainingSet[[ 'Item_Visibility', 'Item_MRP',
        'Item_Fat_Content_3', 'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2', 'ItemType_Combined_0',
       'ItemType_Combined_1', 'Outlet_Type_0',
       'Outlet_Type_1', 'Outlet_Type_2', 'Outlet_Type_3', 'outlet_0',
       'outlet_1', 'outlet_2', 'outlet_3', 'outlet_4', 'outlet_5', 'outlet_6',
       'outlet_7', 'outlet_8', 'outlet_9']]
X = sm.add_constant(X)
lm = smf.OLS(Y,X)
lm_result = lm.fit()
print(lm_result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.568
Model:                            OLS   Adj. R-squared:                  0.566
Method:                 Least Squares   F-statistic:                     314.9
Date:                Sun, 09 Feb 2020   Prob (F-statistic):               0.00
Time:                        17:00:04   Log-Likelihood:                -28442.
No. Observations:                3371   AIC:                         5.691e+04
Df Residuals:                    3356   BIC:                         5.701e+04
Df Model:                          14
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -74.3582     32.080     -2.318      0.021    -137.256     -11.460
Item_Visibility         -472.0189    418.478     -1.128      0.259   -1292.517     348.479
Item_MRP                  15.4747      0.311     49.807      0.000      14.866      16.084
Item_Fat_Content_3        43.6010     44.367      0.983      0.326     -43.389     130.591
Outlet_Location_Type_0  -178.4258     25.273     -7.060      0.000    -227.977    -128.875
Outlet_Location_Type_1   169.7898     21.440      7.919      0.000     127.753     211.826
Outlet_Location_Type_2   -65.7221     25.558     -2.571      0.010    -115.833     -15.611
Outlet_Size_0            -74.9259     21.875     -3.425      0.001    -117.815     -32.036
Outlet_Size_1            310.4187     23.149     13.409      0.000     265.031     355.807
Outlet_Size_2           -309.8510     24.442    -12.677      0.000    -357.773    -261.929
ItemType_Combined_0      -31.7376     76.627     -0.414      0.679    -181.978     118.502
ItemType_Combined_1       60.1519     55.319      1.087      0.277     -48.311     168.614
Outlet_Type_0           -845.2287     28.713    -29.438      0.000    -901.525    -788.933
Outlet_Type_1            286.5215     23.940     11.968      0.000     239.583     333.460
Outlet_Type_2           -201.3311     24.772     -8.127      0.000    -249.902    -152.760
Outlet_Type_3            685.6801     24.850     27.592      0.000     636.957     734.403
outlet_0                -475.1452     41.706    -11.393      0.000    -556.916    -393.374
outlet_1                 -74.9259     21.875     -3.425      0.001    -117.815     -32.036
outlet_2                 176.4849     47.738      3.697      0.000      82.887     270.083
outlet_3                -201.3311     24.772     -8.127      0.000    -249.902    -152.760
outlet_4                -370.0835     43.226     -8.562      0.000    -454.835    -285.332
outlet_5                 685.6801     24.850     27.592      0.000     636.957     734.403
outlet_6                  81.3252     48.634      1.672      0.095     -14.030     176.681
outlet_7                 -88.0203     47.591     -1.850      0.064    -181.331       5.290
outlet_8                 365.5879     38.061      9.605      0.000     290.963     440.213
outlet_9                -173.9303     31.402     -5.539      0.000    -235.499    -112.361
==============================================================================
Omnibus:                      283.295   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              485.959
Skew:                           0.607   Prob(JB):                    2.99e-106
Kurtosis:                       4.409   Cond. No.                     8.39e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.13e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [71]:
X = trainingSet[[ 'Item_Visibility', 'Item_MRP',
        'Item_Fat_Content_3', 'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2',
       'ItemType_Combined_1', 'Outlet_Type_0',
       'Outlet_Type_1', 'Outlet_Type_2', 'Outlet_Type_3', 'outlet_0',
       'outlet_1', 'outlet_2', 'outlet_3', 'outlet_4', 'outlet_5', 'outlet_6',
       'outlet_7', 'outlet_8', 'outlet_9']]
X = sm.add_constant(X)
lm = smf.OLS(Y,X)
lm_result = lm.fit()
print(lm_result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.568
Model:                            OLS   Adj. R-squared:                  0.566
Method:                 Least Squares   F-statistic:                     339.2
Date:                Sun, 09 Feb 2020   Prob (F-statistic):               0.00
Time:                        17:00:29   Log-Likelihood:                -28442.
No. Observations:                3371   AIC:                         5.691e+04
Df Residuals:                    3357   BIC:                         5.700e+04
Df Model:                          13
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -79.5337     29.542     -2.692      0.007    -137.457     -21.611
Item_Visibility         -477.5782    418.211     -1.142      0.254   -1297.553     342.397
Item_MRP                  15.4789      0.310     49.853      0.000      14.870      16.088
Item_Fat_Content_3        42.5487     44.289      0.961      0.337     -44.287     129.385
Outlet_Location_Type_0  -180.1307     24.932     -7.225      0.000    -229.014    -131.247
Outlet_Location_Type_1   168.6379     21.256      7.934      0.000     126.962     210.314
Outlet_Location_Type_2   -68.0409     24.934     -2.729      0.006    -116.929     -19.153
Outlet_Size_0            -75.5799     21.815     -3.465      0.001    -118.352     -32.807
Outlet_Size_1            308.3462     22.599     13.644      0.000     264.037     352.656
Outlet_Size_2           -312.3001     23.713    -13.170      0.000    -358.793    -265.807
ItemType_Combined_1       71.9010     47.486      1.514      0.130     -21.204     165.006
Outlet_Type_0           -846.5198     28.539    -29.661      0.000    -902.476    -790.564
Outlet_Type_1            284.2015     23.272     12.212      0.000     238.572     329.831
Outlet_Type_2           -202.0279     24.712     -8.175      0.000    -250.480    -153.575
Outlet_Type_3            684.8125     24.759     27.659      0.000     636.269     733.356
outlet_0                -475.2457     41.700    -11.397      0.000    -557.005    -393.486
outlet_1                 -75.5799     21.815     -3.465      0.001    -118.352     -32.807
outlet_2                 176.0946     47.722      3.690      0.000      82.527     269.663
outlet_3                -202.0279     24.712     -8.175      0.000    -250.480    -153.575
outlet_4                -371.2742     43.125     -8.609      0.000    -455.828    -286.721
outlet_5                 684.8125     24.759     27.659      0.000     636.269     733.356
outlet_6                  80.8911     48.617      1.664      0.096     -14.430     176.213
outlet_7                 -88.3478     47.579     -1.857      0.063    -181.634       4.938
outlet_8                 365.5819     38.056      9.606      0.000     290.967     440.197
outlet_9                -174.4384     31.374     -5.560      0.000    -235.953    -112.924
==============================================================================
Omnibus:                      282.675   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              484.311
Skew:                           0.606   Prob(JB):                    6.81e-106
Kurtosis:                       4.406   Cond. No.                     2.72e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.08e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [72]:
X = trainingSet[[ 'Item_Visibility', 'Item_MRP',
         'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2',
       'ItemType_Combined_1', 'Outlet_Type_0',
       'Outlet_Type_1', 'Outlet_Type_2', 'Outlet_Type_3', 'outlet_0',
       'outlet_1', 'outlet_2', 'outlet_3', 'outlet_4', 'outlet_5', 'outlet_6',
       'outlet_7', 'outlet_8', 'outlet_9']]
X = sm.add_constant(X)
lm = smf.OLS(Y,X)
lm_result = lm.fit()
print(lm_result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.568
Model:                            OLS   Adj. R-squared:                  0.566
Method:                 Least Squares   F-statistic:                     367.4
Date:                Sun, 09 Feb 2020   Prob (F-statistic):               0.00
Time:                        17:01:06   Log-Likelihood:                -28442.
No. Observations:                3371   AIC:                         5.691e+04
Df Residuals:                    3358   BIC:                         5.699e+04
Df Model:                          12
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -79.3679     29.541     -2.687      0.007    -137.289     -21.447
Item_Visibility         -470.8535    418.148     -1.126      0.260   -1290.704     348.997
Item_MRP                  15.4815      0.310     49.864      0.000      14.873      16.090
Outlet_Location_Type_0  -180.4282     24.930     -7.237      0.000    -229.307    -131.549
Outlet_Location_Type_1   169.0055     21.252      7.952      0.000     127.337     210.675
Outlet_Location_Type_2   -67.9452     24.934     -2.725      0.006    -116.832     -19.058
Outlet_Size_0            -75.8156     21.814     -3.476      0.001    -118.585     -33.046
Outlet_Size_1            308.8779     22.592     13.672      0.000     264.582     353.174
Outlet_Size_2           -312.4301     23.712    -13.176      0.000    -358.922    -265.938
ItemType_Combined_1       91.0300     43.110      2.112      0.035       6.506     175.554
Outlet_Type_0           -846.7063     28.538    -29.669      0.000    -902.661    -790.752
Outlet_Type_1            284.7971     23.264     12.242      0.000     239.184     330.410
Outlet_Type_2           -202.1752     24.711     -8.181      0.000    -250.626    -153.724
Outlet_Type_3            684.7165     24.758     27.656      0.000     636.174     733.259
outlet_0                -474.6709     41.695    -11.384      0.000    -556.421    -392.921
outlet_1                 -75.8156     21.814     -3.476      0.001    -118.585     -33.046
outlet_2                 176.4938     47.720      3.699      0.000      82.930     270.057
outlet_3                -202.1752     24.711     -8.181      0.000    -250.626    -153.724
outlet_4                -372.0354     43.117     -8.629      0.000    -456.574    -287.497
outlet_5                 684.7165     24.758     27.656      0.000     636.174     733.259
outlet_6                  81.2832     48.614      1.672      0.095     -14.034     176.600
outlet_7                 -88.7715     47.576     -1.866      0.062    -182.052       4.509
outlet_8                 365.2707     38.054      9.599      0.000     290.659     439.882
outlet_9                -173.6635     31.364     -5.537      0.000    -235.157    -112.170
==============================================================================
Omnibus:                      281.797   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              481.484
Skew:                           0.606   Prob(JB):                    2.80e-105
Kurtosis:                       4.400   Cond. No.                     2.46e+19
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.31e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [73]:
X = trainingSet[[  'Item_MRP',
         'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2',
       'ItemType_Combined_1', 'Outlet_Type_0',
       'Outlet_Type_1', 'Outlet_Type_2', 'Outlet_Type_3', 'outlet_0',
       'outlet_1', 'outlet_2', 'outlet_3', 'outlet_4', 'outlet_5', 'outlet_6',
       'outlet_7', 'outlet_8', 'outlet_9']]
X = sm.add_constant(X)
lm = smf.OLS(Y,X)
lm_result = lm.fit()
print(lm_result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.567
Model:                            OLS   Adj. R-squared:                  0.566
Method:                 Least Squares   F-statistic:                     400.6
Date:                Sun, 09 Feb 2020   Prob (F-statistic):               0.00
Time:                        17:01:32   Log-Likelihood:                -28443.
No. Observations:                3371   AIC:                         5.691e+04
Df Residuals:                    3359   BIC:                         5.698e+04
Df Model:                          11
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -94.2950     26.401     -3.572      0.000    -146.059     -42.531
Item_MRP                  15.4751      0.310     49.849      0.000      14.866      16.084
Outlet_Location_Type_0  -186.3210     24.375     -7.644      0.000    -234.113    -138.529
Outlet_Location_Type_1   167.1168     21.187      7.888      0.000     125.576     208.657
Outlet_Location_Type_2   -75.0907     24.114     -3.114      0.002    -122.370     -27.811
Outlet_Size_0            -77.5199     21.762     -3.562      0.000    -120.188     -34.852
Outlet_Size_1            305.5371     22.397     13.642      0.000     261.623     349.451
Outlet_Size_2           -322.3121     22.029    -14.631      0.000    -365.504    -279.120
ItemType_Combined_1       88.4599     43.051      2.055      0.040       4.051     172.869
Outlet_Type_0           -858.0814     26.692    -32.148      0.000    -910.415    -805.748
Outlet_Type_1            283.5074     23.237     12.201      0.000     237.948     329.067
Outlet_Type_2           -203.5359     24.683     -8.246      0.000    -251.931    -155.141
Outlet_Type_3            683.8150     24.746     27.633      0.000     635.296     732.334
outlet_0                -477.8499     41.601    -11.486      0.000    -559.416    -396.284
outlet_1                 -77.5199     21.762     -3.562      0.000    -120.188     -34.852
outlet_2                 175.3857     47.712      3.676      0.000      81.838     268.933
outlet_3                -203.5359     24.683     -8.246      0.000    -251.931    -155.141
outlet_4                -380.2315     42.500     -8.947      0.000    -463.560    -296.903
outlet_5                 683.8150     24.746     27.633      0.000     635.296     732.334
outlet_6                  81.5693     48.616      1.678      0.093     -13.750     176.889
outlet_7                 -89.8383     47.568     -1.889      0.059    -183.104       3.428
outlet_8                 368.6525     37.937      9.717      0.000     294.270     443.035
outlet_9                -174.7420     31.350     -5.574      0.000    -236.209    -113.275
==============================================================================
Omnibus:                      282.546   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              484.520
Skew:                           0.606   Prob(JB):                    6.13e-106
Kurtosis:                       4.408   Cond. No.                     7.38e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.46e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [74]:
X = trainingSet[[  'Item_MRP',
         'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2',
       'ItemType_Combined_1', 'Outlet_Type_0',
       'Outlet_Type_1', 'Outlet_Type_2', 'Outlet_Type_3', 'outlet_0',
       'outlet_1', 'outlet_2', 'outlet_3', 'outlet_4', 'outlet_5',
       'outlet_7', 'outlet_8', 'outlet_9']]
X = sm.add_constant(X)
lm = smf.OLS(Y,X)
lm_result = lm.fit()
print(lm_result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.567
Model:                            OLS   Adj. R-squared:                  0.566
Method:                 Least Squares   F-statistic:                     400.6
Date:                Sun, 09 Feb 2020   Prob (F-statistic):               0.00
Time:                        17:02:07   Log-Likelihood:                -28443.
No. Observations:                3371   AIC:                         5.691e+04
Df Residuals:                    3359   BIC:                         5.698e+04
Df Model:                          11
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -84.6049     27.348     -3.094      0.002    -138.225     -30.984
Item_MRP                  15.4751      0.310     49.849      0.000      14.866      16.084
Outlet_Location_Type_0  -206.8958     27.804     -7.441      0.000    -261.411    -152.380
Outlet_Location_Type_1   208.9302     35.311      5.917      0.000     139.698     278.163
Outlet_Location_Type_2   -86.6392     25.314     -3.423      0.001    -136.271     -37.007
Outlet_Size_0            -83.5596     22.046     -3.790      0.000    -126.784     -40.336
Outlet_Size_1            305.1388     22.387     13.630      0.000     261.245     349.032
Outlet_Size_2           -306.1841     24.169    -12.668      0.000    -353.572    -258.797
ItemType_Combined_1       88.4599     43.051      2.055      0.040       4.051     172.869
Outlet_Type_0           -864.5857     26.944    -32.088      0.000    -917.415    -811.757
Outlet_Type_1            297.4452     24.779     12.004      0.000     248.863     346.028
Outlet_Type_2           -202.4076     24.706     -8.193      0.000    -250.848    -153.967
Outlet_Type_3            684.9433     24.769     27.653      0.000     636.379     733.508
outlet_0                -485.6153     42.074    -11.542      0.000    -568.109    -403.121
outlet_1                 -83.5596     22.046     -3.790      0.000    -126.784     -40.336
outlet_2                  93.8164     82.715      1.134      0.257     -68.360     255.993
outlet_3                -202.4076     24.706     -8.193      0.000    -250.848    -153.967
outlet_4                -378.9704     42.545     -8.908      0.000    -462.386    -295.554
outlet_5                 684.9433     24.769     27.653      0.000     636.379     733.508
outlet_7                -171.4076     82.501     -2.078      0.038    -333.164      -9.651
outlet_8                 349.4714     40.593      8.609      0.000     269.883     429.060
outlet_9                -177.3968     31.386     -5.652      0.000    -238.934    -115.860
==============================================================================
Omnibus:                      282.546   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              484.520
Skew:                           0.606   Prob(JB):                    6.13e-106
Kurtosis:                       4.408   Cond. No.                     8.10e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.21e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [75]:
X = trainingSet[[  'Item_MRP',
         'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2',
       'ItemType_Combined_1', 'Outlet_Type_0',
       'Outlet_Type_1', 'Outlet_Type_2', 'Outlet_Type_3', 'outlet_0',
       'outlet_1', 'outlet_3', 'outlet_4', 'outlet_5',
       'outlet_7', 'outlet_8', 'outlet_9']]
X = sm.add_constant(X)
lm = smf.OLS(Y,X)
lm_result = lm.fit()
print(lm_result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.567
Model:                            OLS   Adj. R-squared:                  0.566
Method:                 Least Squares   F-statistic:                     440.5
Date:                Sun, 09 Feb 2020   Prob (F-statistic):               0.00
Time:                        17:02:35   Log-Likelihood:                -28443.
No. Observations:                3371   AIC:                         5.691e+04
Df Residuals:                    3360   BIC:                         5.698e+04
Df Model:                          10
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -78.6277     26.837     -2.930      0.003    -131.245     -26.010
Item_MRP                  15.4713      0.310     49.838      0.000      14.863      16.080
Outlet_Location_Type_0  -219.0016     25.675     -8.530      0.000    -269.343    -168.661
Outlet_Location_Type_1   233.7339     27.725      8.430      0.000     179.375     288.093
Outlet_Location_Type_2   -93.3601     24.612     -3.793      0.000    -141.615     -45.105
Outlet_Size_0            -87.0999     21.824     -3.991      0.000    -129.890     -44.310
Outlet_Size_1            304.9992     22.388     13.624      0.000     261.105     348.894
Outlet_Size_2           -296.5270     22.621    -13.109      0.000    -340.879    -252.175
ItemType_Combined_1       88.4637     43.053      2.055      0.040       4.051     172.876
Outlet_Type_0           -868.3858     26.736    -32.480      0.000    -920.807    -815.965
Outlet_Type_1            305.8062     23.658     12.926      0.000     259.421     352.191
Outlet_Type_2           -201.6990     24.699     -8.166      0.000    -250.126    -153.272
Outlet_Type_3            685.6508     24.762     27.689      0.000     637.100     734.202
outlet_0                -490.2120     41.881    -11.705      0.000    -572.326    -408.098
outlet_1                 -87.0999     21.824     -3.991      0.000    -129.890     -44.310
outlet_3                -201.6990     24.699     -8.166      0.000    -250.126    -153.272
outlet_4                -378.1738     42.541     -8.890      0.000    -461.582    -294.766
outlet_5                 685.6508     24.762     27.689      0.000     637.100     734.202
outlet_7                -219.6545     70.692     -3.107      0.002    -358.258     -81.051
outlet_8                 338.1248     39.342      8.594      0.000     260.988     415.262
outlet_9                -178.9526     31.357     -5.707      0.000    -240.434    -117.472
==============================================================================
Omnibus:                      281.834   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              482.506
Skew:                           0.605   Prob(JB):                    1.68e-105
Kurtosis:                       4.404   Cond. No.                     7.55e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.39e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [78]:
np.sqrt(lm_result.mse_model)

23490.691805202026